*.Rprofile
*.Rhistory
*umi.tab
*backup*
Dryad
GEO
clustering*/scdb/figs
clustering*/scdb/*cells_UMI_counts
clustering*/scdb/*sc_UMI_counts
**/*RDS
clustering**/*csv
clustering_coral/scdb/Metacell_annotation_kill
**/*tsv
revision
saturation
clustering_DS
annotation/orthologous_pairs.txt
